{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "jest": true
  },
  "plugins": ["react"],
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prefer-stateless-function": 0,
    "react/prop-types": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-indent": 0,
    "no-unused-vars": "warn",
    "camelcase": "warn",
    "no-console": 1,
    "linebreak-style": 0,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "indent": ["off", "tab"],
    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": ["**/*.test.js", "**/*.spec.js"]}
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".native.js"]
      }
    }
  }
}
